<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.visiontherapy.dichoptictetris">

    <application
        android:label="Dichoptic Tetris"
        android:hardwareAccelerated="true">

        <activity
            android:name="com.unity3d.player.UnityPlayerActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Request 120Hz display mode on OnePlus 12 -->
            <meta-data android:name="android.hardware.display.mode.preferred" android:value="120" />

        </activity>
    </application>

    <uses-feature android:name="android.hardware.bluetooth"   android:required="false" />
    <uses-feature android:glEsVersion="0x00030002"            android:required="true"  />
    <uses-permission android:name="android.permission.BLUETOOTH"         />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

</manifest>
